<div class="container-sm">
<div class="col text-center bg-light p-2 border border-primary border-2">
    <h1>Enter Song</h1>
    <form method="post" action="/song">
        title:<input type="text" name="title"><br>
        album:<input type="text" name="album"><br>
        artist:<input type="text" name="artist"><br>
        genre:<input type="text" name="genre"><br>
        <br>
        <input type="submit" class="btn btn-lg btn-danger class="mt-5">
    </form>
</div>
</div>