<div class="container">
<div class="row">
<div class="col text-center bg-light p-2 border border-primary border-2">
    <h1>Enter Song</h1>
    <form method="post" action="/song/add">
        Title:<input type="text" name="title"><br>
        Album:<input type="text" name="album"><br>
        Artist:<input type="text" name="artist"><br>
        Genre:<input type="text" name="genre"><br>
        <br>
        <input type="submit" class="btn btn-lg btn-danger class="mt-5">
    </form>
</div>
</div>
</div>
<br>
    <div class="col text-center">
        <h1>Song List</h1>
    </div>
    <div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Album</th>
                <th>Artist</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody></tbody>
    <% for (song of songs){%>
        <tr>
            <td><%= song.title%></td>
            <td><%= song.album%></td>
            <td><%= song.artist%></td>
            <td><%= song.genre%></td>
        </tr>
        <% }%>
    </table>
</div>